atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
coverage==4.5.2
Flask==1.0.2
futures==3.1.1
google-images-download==2.4.2
goslate==1.5.1
gunicorn==19.9.0
idna==2.7
inflect==1.0.1
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.1.0
more-itertools==4.3.0
nltk==3.3
numpy==1.15.3
Pillow==5.3.0
pluggy==0.8.0
praw==6.0.0
prawcore==1.0.0
py==1.7.0
py-thesaurus==1.0.5
PyDictionary==1.5.2
pytest==3.9.2
python-datamuse==1.2.0
python-pptx==0.6.15
requests==2.20.0
safygiphy==1.1.0
selenium==3.14.1
six==1.11.0
tracery==0.1.1
update-checker==0.16
urllib3==1.24
Werkzeug==0.14.1
XlsxWriter==1.1.2
