beautifulsoup4==4.8.0
black==19.3b0
environs==5.2.1
google_images_download==2.8.0
inflect==2.1.0
lxml==4.4.1
nltk==3.4.5
Pillow==6.1.0
praw==6.3.1
prawcore==1.0.1
pytest==5.0.1
pytest-cov==2.7.1
python_pptx==0.6.18
pyunsplash==1.0.0b8
requests==2.22.0
safygiphy==1.1.0
tracery==0.1.1