atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.7.1
boto3==1.9.86
botocore==1.12.86
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
codecov==2.0.15
colorclass==2.2.0
coverage==4.5.2
docopt==0.6.2
docutils==0.14
environs==4.1.0
Flask==1.0.2
Flask-SSLify==0.1.5
Flask-WTF==0.14.2
futures==3.1.1
google-images-download==2.5.0
goslate==1.5.1
gunicorn==19.9.0
idna==2.8
inflect==2.1.0
itsdangerous==1.1.0
Jinja2>=2.10.1
jmespath==0.9.3
lxml==4.3.0
MarkupSafe==1.1.0
marshmallow==2.18.0
more-itertools==5.0.0
nltk==3.4
numpy==1.16.0
packaging==19.0
Pillow==5.4.1
pip-upgrader==1.4.6
pluggy==0.8.1
praw==6.1.1
prawcore==1.0.0
py==1.7.0
py-thesaurus==1.0.5
PyDictionary==1.5.2
pyparsing==2.3.1
pytest==4.1.1
pytest-cov==2.6.1
python-datamuse==1.2.1
python-dateutil==2.7.5
python-dotenv==0.10.1
python-pptx==0.6.17
requests==2.21.0
s3transfer==0.1.13
safygiphy==1.1.0
selenium==3.141.0
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.7.3
terminaltables==3.1.0
tqdm==4.30.0
tracery==0.1.1
update-checker==0.16
urllib3>=1.24.2
websocket-client==0.54.0
Werkzeug==0.14.1
WTForms==2.2.1
XlsxWriter==1.1.2
